.button-icon {
  cursor: pointer;
  margin: 10px;
  width: 100px;
  height: 100px;
  min-width: 70px;
  min-height: 70px;
  background: #fffffd;
  border-radius: 10px;
  border: 2px solid #f0f4f5;
}

.button-icon:hover {
  background: #bdecb6;
  border: none;
}

.button-icon:hover .icon {
  color: #fcdeb8;
}

.icon {
  color: #a5855e;
  width: 60px;
  height: 60px;
}
