.content-layout {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.separator {
  background: #fffffd;
  width: 40px;
  height: 100%;
}

.icon-board {
  width: 100%;
  height: 100%;
  min-width: 200px;
  min-height: 200px;
}

.message {
  position: absolute;
  bottom: 60px;
}

.tie-message {
  color: #ffff8a;
}

.lost-message {
  color: #840005;
}

.won-message {
  color: #006414;
}

@media (max-width: 768px) {
  .content-layout {
    flex-direction: column-reverse;
  }
  .separator {
    width: 100%;
    height: 40px;
  }
  .icon-board {
    min-width: 130px;
    min-height: 130px;
  }
  .message {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .content-layout {
    height: 100%;
  }
  .icon-board {
    min-width: 100px;
    min-height: 100px;
  }
}
