.card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  max-width: 200px;
  max-height: 200px;
  border-radius: 10px;
}

.tie {
  background: yellow;
}

.won {
  background: green;
}

.lost {
  background: red;
}

.normal {
  background: #fff;
}

@media (max-width: 500px) {
  .card {
    max-width: 130px;
    max-height: 130px;
  }
}
