.sidebar {
  height: 100%;
  width: 100%;
  max-width: 200px;
  background: #58b7ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .sidebar {
    flex-direction: row;
    max-width: 100%;
    max-height: 200px;
  }
}

@media (max-width: 500px) {
  .sidebar {
    max-height: 130px;
  }
}
